<h3>We're really pleased to count on you!</h3>
<p>Dear {{ name }}, your user account is fully functional from now on.</p>
<p>To login, navigate to <a href="{{ login_url }}">this link</a>.</p>
<p>If you cannot see the link, copy/paste this address on your browser's navigation bar: {{ login_url }}</p>
<br />
<p>Thanks for joining us!</p>
<img src="{{ absolute_url(asset('images/logo.png')) }}">
