<p>Hello, {{ name }}.</p>
<p>Have you forgotten your Nexus password? Don't worry, it may happen sometimes.</p>
<p>Visit the following link to <a href="{{ url }}">set up a new one</a>.</p>
<p>If you cannot see the link, copy/paste this address on your browser's navigation bar: {{ url }}</p>
<p>If you didn't request this action, just ignore this message.</p>
