<p>Dear {{ name }}, your password has been successfully reset.</p>
<p>To start using it, navigate to <a href="{{ login_url }}">this link</a>.</p>
<p>If you cannot see the link, copy/paste this address on your browser's navigation bar: {{ login_url }}</p>
<br />
<p>Thanks for joining us!</p>
<img src="{{ absolute_url(asset('images/logo.png')) }}">
