<p>Hey, {{ name }}, you're almost done!</p>
<p>The next step is activating your account <a href="{{ url }}">here</a>.</p>
<p>If you cannot see the link, copy/paste this address on your browser's navigation bar: {{ url }}</p>
<p>If you didn't request this action, just ignore this message.</p>
